$color-lightBlue: #D4EDF4;
$color-salmon: #FF9E7A;
$color-blue: #345C72;
$color-boyBlue: #345C72;
$color-boyRed: #345C72;
$color-girlMagenta: #345C72;
$color-peopleOrange: #345C72;
$color-marigold: #345C72;
$color-lightMarigold: #345C72;
