$color-lightBlue: #D4EDF4;
$color-salmon: #FF9E7A;
$color-blueSubHeadings: #345C72;
$color-boyBlue: #0000E0;
$color-boyRed: #FE0000;
$color-girlMagenta: #F820C5;
$color-peopleOrange: #F46200;
$color-marigold: #F9AD0B;
$color-lightMarigold: #F3C01A;
