@import './_colors';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100vw;
  height: 7em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: height 0.3s;
}

header.smaller {
  height: 5em;
}

.headerOpacity {
  background-color: rgba(212, 237, 244, 0.65) !important;
}

.bodyHeading {
  color: $color-blueSubHeadings;
}

.heroButton {
  background-color: $color-lightBlue !important;
  a:visited,
  a:active,
  a:hover,
  a:link {
    color: $color-peopleOrange;
    text-decoration: none;
  }
}

#footer {
  background-color: $color-lightBlue !important;
}

.footerLocaInfo {
  color: $color-peopleOrange;
}

.menuText {
  a,
  a:visited,
  a:active,
  a:hover,
  a:link {
    color: $color-peopleOrange;
    text-decoration: none;
    font-size: 1.5em;
  }
}

.footerLinks span {
  a:visited,
  a:active,
  a:hover,
  a:link {
    color: $color-peopleOrange;
    text-decoration: none;
  }
}

.headerHolder {
  transition: height 0.3s;
  height: 90%;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $color-salmon; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav-open {
  width: 250px;
}

.logoHolder {
  width: 100%;
  svg {
    width: 115%;
    height: 100%;
    transition: 0.3s;
    &#boy {
      transform: translate(-15px, -10px);
    }
    &#logo {
      transform: translate(-30px, 1px);
    }
    &#girl {
      transform: translate(-30px, 9px);
    }

    &.smaller {
      width: 100%;
      transition: 0.3s;
      &#boy {
        transform: translate(-20px, -5px);
      }
      &#logo {
        transform: translate(-40px, 2px);
      }
      &#girl {
        transform: translate(-50px, 10px);
      }
    }
  }
}

.mobileIcon,
.closeBtn {
  cursor: pointer;
}

.mobileIcon {
  svg {
    transform: translate(0px, 2px);
    &.smaller {
      transform: translate(0px, 5px);
    }
  }
}

.mobileMenu {
  align-items: start;
}

@media screen and (min-width: 800px) {
  header {
    height: 7.5em;
  }

  header.smaller {
    height: 6em;
  }

  .logoHolder {
    svg {
      width: 80%;
      &#boy {
        transform: translate(-50px, -20px);
      }
      &#logo {
        transform: translate(-135px, 0px);
      }
      &#girl {
        transform: translate(-200px, 7px);
      }

      &.smaller {
        width: 70%;
        &#boy {
          transform: translate(-50px, -20px);
        }
        &#logo {
          transform: translate(-155px, 0px);
        }
        &#girl {
          transform: translate(-240px, 3px);
        }
      }
    }
  }

  .mobileIcon {
    svg {
      transform: translate(0px, 8px);
      &.smaller {
        transform: translate(0px, 12px);
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  header {
    height: 8em;
  }
  header.smaller {
    height: 6.5em;
  }
  .menuText {
    a,
    a:visited,
    a:active,
    a:hover,
    a:link {
      font-size: 1.25em;
    }
  }

  .logoHolder {
    svg {
      width: 110%;
      &#boy {
        transform: translate(-25px, -24px);
      }
      &#logo {
        transform: translate(-60px, -8px);
      }
      &#girl {
        transform: translate(-75px, 6px);
      }

      &.smaller {
        width: 95%;
        &#boy {
          transform: translate(-25px, -20px);
        }
        &#logo {
          transform: translate(-75px, -11px);
        }
        &#girl {
          transform: translate(-105px, 6px);
        }
      }
    }
  }
}

@media screen and (min-width: 1240px) {
  header {
    height: 9em;
  }
  header.smaller {
    height: 7em;
  }

  .logoHolder {
    svg {
      width: 100%;
      &#boy {
        transform: translate(-25px, -25px);
      }
      &#logo {
        transform: translate(-70px, -11px);
      }
      &#girl {
        transform: translate(-90px, 9px);
      }

      &.smaller {
        width: 80%;
        &#boy {
          transform: translate(-25px, -20px);
        }
        &#logo {
          transform: translate(-100px, -11px);
        }
        &#girl {
          transform: translate(-160px, 6px);
        }
      }
    }
  }
}
