@import './_colors';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header.smaller {
  height: 4em;
}

header {
  width: 100vw;
  height: 7em;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transition: height 0.3s;
}

.headerHolder {
  transition: height 0.3s;
  height: 90%;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: $color-salmon; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav-open {
  width: 250px;
}

.move-root {
  margin-left: 250px;
  transition: margin-left 0.5s;
}

.logoHolder {
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  margin: auto;
  svg {
    width: 90%;
    display: block;
    margin: auto;

    &.smaller {
      width: 65%;
    }
  }
}

.mobileIcon,
.closeBtn {
  cursor: pointer;
}
